<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @sensor.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @sensor.descripcion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @sensor.estado %>
</p>

<p>
  <strong>Parametro:</strong>
  <%= @sensor.parametro %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @sensor.valor %>
</p>

<p>
  <strong>Uds:</strong>
  <%= @sensor.uds %>
</p>

<h1>Medidas</h1>

<table>
  <thead>
    <tr>
      <th>Sensor</th>
      <th>Fecha</th>
      <th>Valor</th>
    </tr>
  </thead>

  <tbody>
    <% @sensor.medidas.each do |medida| %>
      <tr>
        <td><%= medida.sensor.nombre %></td>
        <td><%= medida.fecha %></td>
        <td><%= medida.valor %></td>
      </tr>
    <% end %>
  </tbody>
</table>